nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: #161b22;
  color: #e1e1e2;
}

.navLogo {
  font-size: 25px;
  font-weight: 700;
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.navLinks {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25%;
}

a {
  color: #e1e1e2;
}

li {
  padding-right: 20px;
  border-right: 2px solid #fff;
  cursor: pointer;
}

a:hover {
  color: #e46343;
}
