.quote-container {
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 50px;
  text-align: center;
  background-color: #1a21297a;
}

span {
  color: #ff9523;
  font-size: 15px;
}

.quote-icon {
  color: #ff9523;
  font-size: 20px;
}
