* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #27282b;
}

.calculator-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
}

.calculator-screen {
  width: 100%;
  border: 2px solid #000;
  font-size: 35px;
  padding: 20px;
  background-color: #8a8989;
  color: #fff;
  text-align: right;
}

.calculator-keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item0 {
  grid-column: 1 / span 2;
  grid-row: 5;
}

button {
  padding: 15px;
  font-size: 20px;
  background-color: #e1e1e2;
}

.btn-orange {
  background: #ff5c33;
}
.btn-orange:hover {
  color: #fff;
}

.btn-lightgrey:hover {
  background: #ff5c33;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .calculator-container {
    width: 375px;
  }
}
